<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.devclub"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/saber2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.devclub.osc.activities.StartUpActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.devclub.osc.activities.SettingsActivity"
            android:label="@string/action_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.devclub.osc.activities.StartUpActivity" />
        </activity>
    </application>


</manifest>
